UNIVERSITY XML/assign2Q7.dtd

<!ELEMENT details (Email)>
<!ELEMENT Email (from,to,content,course)>
<!ELEMENT from (#PCDATA)>
<!ELEMENT to (#PCDATA)>
<!ELEMENT content (#PCDATA|person|exercises)*>
<!ELEMENT person (#PCDATA)>
<!ELEMENT exercises (exercise)*>
<!ELEMENT exercise (topic,description)>
<!ELEMENT topic (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT course (#PCDATA)>