UNIVERSITY XML/assign3Q4.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Employee">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="details">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="name" type="xsd:string"/>
							<xsd:element name="child">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="male"/>
										<xsd:enumeration value="female"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>